
    body{

       width:100%;
       margin:0;
       animation: fadeIn 1.0s ease 0s 1 normal;
       -webkit-animation: fadeIn 1.0s ease 0s 1 normal;
       background-color:white;
    }

    @keyframes fadeIn {
        0% {opacity: 0}
        100% {opacity: 1}
    }
    @-webkit-keyframes fadeIn {
        0% {opacity: 0}
        100% {opacity: 1}
    }

    a {

      color:rgb(0%,0%,0%);
      text-decoration: none;

    }

      .cont_menuback{

            position:fixed;
            margin:0;
            top:0px;
            left:0px;
          	width:100%;
            height:65px;
            opacity:0.2;
            background-color: rgb(10,100,180);

        }
      .addres{

          position:absolute;
          top:70px;
          left:80px;
          width:100px;
          height:30px;
          font-size:130%;
          font-weight: 200;
          font-family:'Hiragino Sans','Meiryo';



        }
      .mainmanu{

              position:absolute;
              margin:0;

          }
      .title {

              position:fixed;
              top:-7px;
              left:70px;
              font-size:150%;
              font-weight: 200;
              font-family:'Hiragino Sans','Meiryo';

          }
      .title:hover {
            animation: fadeIn 2s ease 0s 1 normal;
            -webkit-animation: fadeIn 2s ease 0s 1 normal;

            }
      .main_about {

              position:fixed;
              top:15px;
              /*left:830px;*/
              left:79%;
              font-size:100%;
              font-weight: 200;
              font-family:'Hiragino Sans','Meiryo';

          }
      .about_line {

                position:absolute;
                top:35px;
                left:25px;
                width: 0px;
                height: 3px;
                background-color: rgb(20,165,235);
                transition: all 300ms 0s ease

            }
      .main_about:hover  > .about_line{

                position:absolute;
                left:-7px;
                width:60px;

          }
      .main_portfolio {

              position:fixed;
              top:15px;
              /*left:965px;*/
              left:89%;
              font-size:100%;
              font-weight: 200;
              font-family:'Hiragino Sans','Meiryo';

          }
      .portfolio_line {

              position:absolute;
              top:35px;
              left:25px;
              width:0px;
              height: 3px;
              background: rgb(20,165,235);
              transition: all 300ms 0s ease

          }
      .main_portfolio:hover > .portfolio_line {

              left:-7px;
              width:65px

          }

      .AR_app{
        position:absolute;
        top:3%;
        width: 40%;
        height:auto;
        left:4%;

      }
      #cont_1{

        position: absolute;
        top:460px;
        left:70px;
        width:330px;
        height:0px;
        font-size:140%;
        font-family:'Hiragino Sans','Meiryo', cursive;
        font-weight: 200;
        color: #19070B;
        transition: all 90ms ease;

      }
      #cont_photo1{

        position: absolute;
        top:120px;
        left:70px;
        width:520px;
        height:310px;
        transition: all 300ms ease;

      }
      #line1{

        position: absolute;
        top:465px;
        left:50px;
        width:40px;
        height:40px;

      }
      #tag1{

        position: absolute;
        top:440px;
        left:70px;
        width:165px;
        height:25px;
        font-size:80%;
        font-weight: 200;
        font-family:'Hiragino Sans','Meiryo';

      }

      .wim_dot{
        position:absolute;
        top:3%;
        width: 40%;
        height:auto;
        left:8%;

      }
      #cont_photo2{

        position:relative;
        top:120px;
        left:640px;
        width:520px;
        height:310px;
        transition: all 300ms ease;

      }
      #cont_2{

        position: absolute;
        top:460px;
        left:640px;
        width:210px;
        height:0px;
        font-size:150%;
        font-weight: 200;
        color: #19070B;
        font-family:'Hiragino Sans','Meiryo', cursive;
        transition: all 90ms ease;

      }
      #tag2{

        position: absolute;
        top:440px;
        left:640px;
        width:210px;
        height:25px;
        font-size:80%;
        font-weight: 200;
        font-family: 'Hiragino Sans','Meiryo';

      }
      #line2{

        position: absolute;
        top:465px;
        left:620px;
        width:40px;
        height:40px;

      }

      .sns_vis{
        position: absolute;
        top:3%;
        width: 20%;
        height:auto;
        left:4%;

      }
      #cont_photo3{

        position: absolute;
        top:550px;
        left:65px;
        width:240px;
        height:240px;
        transition: all 300ms ease;

      }
      #cont_3{
        position: absolute;
        top:820px;
        left:70px;
        width:300px;
        height:0px;
        font-size:130%;
        font-weight: 200;
        color: #19070B;
        font-family:'Hiragino Sans','Meiryo', cursive;
        background:rgb(120,240,255);
        transition: all 90ms ease;
      }
      #tag3{

        position: absolute;
        top:800px;
        left:70px;
        width:230px;
        height:20px;
        font-size:80%;
        font-weight: 200;
        font-family: 'Hiragino Sans','Meiryo';


      }
      #line3{

        position: absolute;
        top:820px;
        left:50px;
        width:40px;
        height:40px;

      }

      .twin_bow{
        position: absolute;
        top:3%;
        width: 20%;
        height:auto;
        left:4%;

      }
      #cont_photo4{

        position: absolute;
        top:550px;
        left:350px;
        width:240px;
        height:240px;
        transition: all 300ms ease;

      }
      #cont_4{

        position: absolute;
        top:820px;
        left:350px;
        width:148px;
        height:0px;
        font-size:120%;
        font-weight: 200;
        color: #19070B;
        font-family:'Hiragino Sans','Meiryo', cursive;
        transition: all 90ms ease;


        }
      #tag4{

        position: absolute;
        top:800px;
        left:350px;
        width:245px;
        height:20px;
        font-size:80%;
        font-weight: 200;
        font-family:'Hiragino Sans','Meiryo';
      }
      #line4{

        position: absolute;
        top:820px;
        left:330px;
        width:40px;
        height:40px;


      }

      .bay_side{
        position: absolute;
        top:3%;
        width: 20%;
        height:auto;
        left:8%;

      }
      #cont_photo5{

        position: absolute;
        top:550px;
        left:630px;
        width:240px;
        height:240px;
        transition: all 300ms ease;

      }
      #cont_5{

        position: absolute;
        /*border: 5px solid rgb(215,240,255) ;*/
        top:817px;
        left:630px;
        width:240px;
        height:0px;
        font-size:130%;
        font-weight: 200;
        color: #19070B;
        font-family:'Hiragino Sans','Meiryo', cursive;
        transition: all 90ms ease;


      }
      #tag5{

        position: absolute;
        top:800px;
        left:630px;
        width:120px;
        height:25px;
        font-size:80%;
        font-weight: 200;
        font-family:'Hiragino Sans', 'Meiryo';


      }
      #line5{

        position: absolute;
        top:820px;
        left:620px;
        width:40px;
        height:40px;

      }

      .color_code{
        position: absolute;
        top:3%;
        width: 20%;
        height:auto;
        left:8%;

      }
      #cont_6{

        position: absolute;
        top:817px;
        left:910px;
        width:250px;
        height:0px;
        font-size:130%;
        font-weight: 200;
        color: #19070B;
        font-family:'Hiragino Sans','Meiryo', cursive;
        transition: all 90ms ease;


      }
      #cont_photo6{

        position: absolute;
        top:550px;
        left:920px;
        width:240px;
        height:240px;
        transition: all 300ms ease;

      }
      #line6{

        position: absolute;
        top:820px;
        left:900px;
        width:40px;
        height:40px;

      }
      #tag6{

        position: absolute;
        top:800px;
        left:910px;
        width:160px;
        height:25px;
        font-size:80%;
        font-weight: 200;
        font-family:'Hiragino Sans', 'Meiryo';


      }

}
