body{

   margin:0;
   animation: fadeIn 1.0s ease 0s 1 normal;
   -webkit-animation: fadeIn 1.0s ease 0s 1 normal;
   background-color:white;

}

@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}
@-webkit-keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

a {

  color:rgb(0%,0%,0%);
  text-decoration: none;

}

#back_prof1{

    position:absolute;
    top:100px;
    left:95px;
    width:250px;
    height:250px;
    background: rgb(20,165,235);
    opacity: 0.7;

}
#back_prof2{

    position:absolute;
    top:100px;
    left:345px;
    width:800px;
    height:250px;
    background:  rgb(120,240,255);
    opacity: 0.3;

}

#cont_acc{

    position:absolute;
    top:26px;
    left:70px;
    width:22px;
    height:22px;
    background: rgb(20,195,235);
    opacity: 0.7;

}

#cont_acc2{

    position:absolute;
    top:26px;
    left:70px;
    width:11px;
    height:11px;
    background: rgb(10,105,235);
    opacity: 0.7;

}

#cont_acc3{

    position:absolute;
    top:37px;
    left:81px;
    width:11px;
    height:11px;
    background: rgb(210,0,25);
    opacity: 0.7;

}

#cont_acc4{

    position:absolute;
    top:42.5px;
    left:86.5px;
    width:5.5px;
    height:5.5px;
    background: rgb(220,120,105);


}
#cont_acc5{

    position:absolute;
    top:26px;
    left:70px;
    width:5.5px;
    height:5.5px;
    background: rgb(10,100,225);


}

#back{

    position:absolute;
    top:240px;
    left:350px;
  	width:530px;
    height:200px;
    background: rgb(245,245,245);


}

#cont_menuback{

    position:absolute;
    margin:0;
    top:0px;
    left:0px;
  	width:100%;
    height:65px;
    background: rgb(245,245,245);


}


.mainmanu{

      position:absolute;
      margin:0;

  }

#title {

      position:absolute;
      top:-5px;
      left:95px;
      font-size:150%;
      font-weight: 200;
      font-family:'Hiragino Sans','Meiryo';

  }
#title:hover {

    animation: fadeIn 2s ease 0s 1 normal;
    -webkit-animation: fadeIn 2s ease 0s 1 normal;

    }


#main_about {

      position:absolute;
      top:15px;
      left:830px;
      font-size:100%;
      font-weight: 200;
      font-family:'Hiragino Sans','Meiryo';

  }
#about_line {

        position:absolute;
        top:35px;
        left:25px;
        width: 0px;
        height: 3px;
        background-color: rgb(20,165,235);
        transition: all 300ms 0s ease

    }
#main_about:hover  > #about_line{

        position: absolute;
        left:-7px;
        width:60px;

  }

#main_portfolio {

      position:absolute;
      top:15px;
      left:965px;
      font-size:100%;
      font-weight: 200;
      font-family:'Hiragino Sans','Meiryo';

  }
#portfolio_line {

      position:absolute;
      top:35px;
      left:25px;
      width:0px;
      height: 3px;
      background: rgb(20,165,235);
      transition: all 300ms 0s ease

  }
#main_portfolio:hover > #portfolio_line {

      left:-7px;
      width:65px

  }

/*#main_contact {

      position:absolute;
      top:15px;
      left:1045px;
      font-size:100%;
      font-weight: 200;
      font-weight: 200;
      font-family:'Hiragino Sans', cursive;

  }
#contact_line{

      position:absolute;
      top:35px;
      left:25px;
      width: 0px;
      height:3px;
      background: rgb(20,165,235);
      transition: all 300ms 0s ease

}
#main_contact:hover  > #contact_line{

      position:absolute;
      left:-7px;
      width: 75px;

}*/

#tag1{

  position: absolute;
  top:440px;
  left:70px;
  width:162px;
  height:25px;
  font-size:80%;
  font-weight: 200;
  font-family:'Hiragino Sans','Meiryo';


}
#tag2{

  position: absolute;
  top:440px;
  left:630px;
  width:210px;
  height:25px;
  font-size:80%;
  font-weight: 200;
  font-family: 'Hiragino Sans','Meiryo';


}
#tag3{

  position: absolute;
  top:800px;
  left:70px;
  width:230px;
  height:20px;
  font-size:80%;
  font-weight: 200;
  font-family: 'Hiragino Sans','Meiryo';


}
#tag4{

  position: absolute;
  top:800px;
  left:350px;
  width:245px;
  height:20px;
  font-size:80%;
  font-weight: 200;
  font-family:'Hiragino Sans','Meiryo';


}
#tag5{

  position: absolute;
  top:800px;
  left:630px;
  width:120px;
  height:25px;
  font-size:80%;
  font-weight: 200;
  font-family:'Hiragino Sans', 'Meiryo';


}
#tag6{

  position: absolute;
  top:800px;
  left:910px;
  width:60px;
  height:25px;
  font-size:80%;
  font-weight: 200;
  font-family:'Hiragino Sans', 'Meiryo';


}
