
#cont_1{

    position: absolute;
    top:460px;
    left:70px;
    width:320px;
    height:0px;
    font-size:140%;
    font-family:'Hiragino Sans','Meiryo', cursive;
    font-weight: 200;
    transition: all 300ms 0s ease;

  }
#cont_2{

  position: absolute;
  top:460px;
  left:640px;
  width:210px;
  height:0px;
  font-size:150%;
  font-weight: 200;
  font-family:'Hiragino Sans','Meiryo', cursive;
  transition: all 300ms ease;

}
#cont_3{

  position: absolute;
  top:820px;
  left:70px;
  width:300px;
  height:0px;
  font-size:130%;
  font-weight: 200;
  font-family:'Hiragino Sans','Meiryo', cursive;
  background:rgb(120,240,255);
  transition: all 300ms ease;


}
#cont_4{

    position: absolute;
    top:820px;
    left:350px;
    width:148px;
    height:0px;
    font-size:120%;
    font-weight: 200;
    font-family:'Hiragino Sans','Meiryo', cursive;
    transition: all 300ms ease;


  }
#cont_5{

  position: absolute;
  /*border: 5px solid rgb(215,240,255) ;*/
  top:817px;
  left:630px;
  width:240px;
  height:0px;
  font-size:130%;
  font-weight: 200;
  font-family:'Hiragino Sans','Meiryo', cursive;
  transition: all 300ms ease;


}
#cont_6{

  position: absolute;
  top:817px;
  left:910px;
  width:250px;
  height:0px;
  font-size:130%;
  font-weight: 200;
  font-family:'Hiragino Sans','Meiryo', cursive;
  transition: all 300ms ease;


}

#space{

  position: absolute;
  top:500px;
  left:880px;
  width:152px;
  height:412px;


}



#cont_photo1{

  position: absolute;
  top:120px;
  left:70px;
  width:520px;
  height:310px;
  border: 1px groove ;
  transition: all 300ms ease;


    }

#cont_photo1:hover{

	transform: scale(1.03);
filter: brightness(120%);

}


#cont_photo2{

  position: absolute;
  top:120px;
  left:640px;
  width:520px;
  height:310px;
  border: 1px groove ;
  transition: all 300ms ease;


}

#cont_photo2:hover{

	transform: scale(1.03);
    filter: brightness(120%);

}

#cont_photo3{

  position: absolute;
  top:550px;
  left:70px;
  width:240px;
  height:240px;
  border: 1px groove ;
  transition: all 300ms ease;

}

#cont_photo3:hover{

	transform: scale(1.05);
    filter: brightness(105%);

}

#cont_photo4{

  position: absolute;
  top:550px;
  left:350px;
  width:240px;
  height:240px;
  border: 1px groove ;
  transition: all 300ms ease;

  }

  #cont_photo4:hover{

	transform: scale(1.05);
    filter: brightness(120%);

  }

#cont_photo5{

  position: absolute;
  top:550px;
  left:630px;
  width:240px;
  height:240px;
  border: 1px groove ;
  transition: all 300ms ease;

}

#cont_photo5:hover{

	transform: scale(1.05);
    filter: brightness(120%);

}

#cont_photo6{

  position: absolute;
  top:550px;
  left:910px;
  width:240px;
  height:240px;
  border: 1px groove ;
  transition: all 300ms ease;

}

#cont_photo6:hover{

	transform: scale(1.05);
    filter: brightness(120%);

}

#line1{

  position: absolute;
  top:465px;
  left:50px;
  width:40px;
  height:40px;

}
#line2{

  position: absolute;
  top:465px;
  left:620px;
  width:40px;
  height:40px;

}
#line3{

  position: absolute;
  top:820px;
  left:50px;
  width:40px;
  height:40px;

}
#line4{

  position: absolute;
  top:820px;
  left:330px;
  width:40px;
  height:40px;


}
#line5{

  position: absolute;
  top:820px;
  left:610px;
  width:40px;
  height:40px;

}
#line6{

  position: absolute;
  top:820px;
  left:890px;
  width:40px;
  height:40px;

}
