
#work_name{

  position:absolute;
  top:570px;
  left:280px;
  width:850px;
  height:200px;
  font-size:150%;
  font-family:'Meiryo', cursive;


}
#work_photo_icon{

  position:absolute;
  top:90px;
  left:250px;
  width:750px;
  height:450px;
  cursor: pointer;
  cursor: hand;
  transition: all 300ms 0s ease;

}

#work_photo2_icon{

  position:absolute;
  top:250px;
  left:50px;
  width:160px;
  height:115px;
  opacity: 0.4;
  cursor: pointer;
  cursor: hand;
  transition: all 300ms 0s ease;

}

#work_photo3_icon{

  position:absolute;
  top:410px;
  left:50px;
  width:160px;
  height:115px;
  opacity: 0.4;
  cursor: pointer;
  cursor: hand;
  transition: all 300ms 0s ease;
}

#work_photo4_icon{

  position:absolute;
  top:90px;
  left:1050px;
  width:140px;
  height:120px;
  opacity: 0.4;
  cursor: pointer;
  cursor: hand;
  transition: all 300ms 0s ease;
}

#work_photo5_icon{

  position:absolute;
  top:230px;
  left:1070px;
  width:100px;
  height:140px;
  opacity: 0.4;
  cursor: pointer;
  cursor: hand;
  transition: all 300ms 0s ease;
}

#artext0{

  position: absolute;
  top:680px;
  left:300px;
  font-size:130%;
  font-family:'Meiryo', cursive;

}
#artext0_line{

  position: absolute;
  top:707px;
  left:300px;
  width:680px;
  height:2px;
  background: rgb(100,200,255);

}
#artext_honbun0{

  position: absolute;
  top:710px;
  left:300px;
  font-size:95%;
  font-family:'Meiryo', cursive;

}

#artext{

  position: absolute;
  top:780px;
  left:300px;
  font-size:130%;
  font-family:'Meiryo', cursive;

}
#artext1_line{

  position: absolute;
  top:805px;
  left:300px;
  width:680px;
  height:2px;
  background: rgb(100,200,255);

}
#artext_honbun{

  position: absolute;
  top:810px;
  left:300px;
  font-size:95%;
  font-family:'Meiryo', cursive;

}

#artext2{

  position: absolute;
  top:1040px;
  left:300px;
  font-size:130%;
  font-family:'Meiryo', cursive;

}
#artext2_line{

  position: absolute;
  top:1065px;
  left:300px;
  width:680px;
  height:2px;
  background: rgb(100,200,255);

}
#artext_honbun2{

  position: absolute;
  top:1070px;
  left:300px;
  font-size:95%;
  font-family:'Meiryo', cursive;

}

#artext3{

  position: absolute;
  top:1190px;
  left:300px;
  font-size:130%;
  font-family:'Meiryo', cursive;

}
#artext3_line{

  position: absolute;
  top:1217px;
  left:300px;
  width:680px;
  height:2px;
  background: rgb(100,200,255);

}
#artext_honbun3{

  position: absolute;
  top:1220px;
  left:300px;
  font-size:95%;
  font-family:'Meiryo', cursive;

}
