
#cont_1{

    position: absolute;
    top:410px;
    left:192px;
    width:520px;
    height:0px;
    opacity: 0;
    font-size:140%;
    font-family:'Hiragino Sans', cursive;
    font-weight: 200;
    background:rgb(120,240,255);
    transition: all 300ms 0s ease;

  }
#cont_2{

  position: absolute;
  top:670px;
  left:453px;
  width:417px;
  height:0px;
  opacity: 0;
  font-size:130%;
  font-weight: 200;
  font-family:'Hiragino Sans', cursive;
  background:rgb(120,240,255);
  transition: all 300ms ease;

}
#cont_3{

  position: absolute;
  top:250px;
  left:722px;
  width:148px;
  height:0px;
  opacity: 0;
  font-size:90%;
  font-weight: 200;
  font-family:'Hiragino Sans', cursive;
  background:rgb(120,240,255);
  transition: all 300ms ease;


}
#cont_4{

    position: absolute;
    top:410px;
    left:722px;
    width:148px;
    height:0px;
    opacity: 0;
    font-size:100%;
    font-weight: 200;
    font-family:'Hiragino Sans', cursive;
    background:rgb(120,240,255);
    transition: all 300ms ease;


  }
#cont_5{

  position: absolute;
  /*border: 5px solid rgb(215,240,255) ;*/
  top:670px;
  left:193px;
  width:250px;
  height:0px;
  opacity: 0;
  font-size:100%;
  font-weight: 200;
  font-family:'Hiragino Sans', cursive;
  background:rgb(120,240,255);
  transition: all 300ms ease;


}
#cont_6{

  position: absolute;
  top:250px;
  left:882px;
  width:148px;
  height:0px;
  opacity: 0;
  font-size:80%;
  font-weight: 200;
  font-family:'Hiragino Sans', cursive;
  background:rgb(120,240,255);
  transition: all 300ms ease;


}

#dummy_cont{

  position: absolute;
  top:282px;
  left:880px;
  width:152px;
  height:412px;
  opacity: 0.3;
  background:rgb(20,200,255);
  transition: all 300ms ease;


}

#space{

  position: absolute;
  top:500px;
  left:880px;
  width:152px;
  height:412px;


}

#dummy_cont:hover{

  border: 2px solid rgb(200,240,0);

}


#cont_photo1{

      position: absolute;
      top:120px;
      left:190px;
      width:520px;
      height:310px;
      border: 2px solid rgb(120,240,255);

    }
#cont_photo2{

  position: absolute;
  top:440px;
  left:452px;
  width:415px;
  height:250px;
  border: 2px solid rgb(120,240,255);

}
#cont_photo3{

  position: absolute;
  top:121px;
  left:720px;
  width:148px;
  height:148px;
  border: 2px solid rgb(120,240,255);
}
#cont_photo4{

    position: absolute;
    top:281px;
    left:720px;
    width:148px;
    height:148px;
    border: 2px solid rgb(120,240,255);

  }
#cont_photo5{

  position: absolute;
  top:440px;
  left:190px;
  width:250px;
  height:250px;
  border: 2px solid rgb(120,240,255);

}
#cont_photo6{

  position: absolute;
  top:120px;
  left:880px;
  width:148px;
  height:148px;
  border: 2px solid rgb(120,240,255);
}
